#content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vert {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.hori {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

button.button {
    height: 100px;
    width: 100px;
    background-color: white;
    border: 0px;
    font-size: 50pt;
}

button:active {
    background-color: #C0C0C0;    
}

button:disabled,
button[disabled] {
    color : #000;
}